@charset "ISO-8859-1";

body {
	width: 960px;
}

h1 {
	color: blue;
	width: 960px;
	text-align: center;
}

footer {
	text-align: center;
	margin-top: .25em;
	font-size: 1.1em;
}

.shadowfont {
	font-family: sans-serif, serif;
	font-size: 3em;
	font-weight: 600;
	color: #c33;
	/* how far to left or right the shadow should fall
	   distance to top or bottom the shadow should fall
	   amount of blur 
	*/
	text-shadow: 4px 4px 4px #000;
}

div.golink {
	margin: .75em;
	font-size: 1.65em;
}

.center {
	text-align: center;
}

