@charset "ISO-8859-1";

* {
	margin: 0;
	padding: 0;
}

body, h1, div#maindiv, header#mainheader {
	width: 1000px;
}

nav#rssnav {
	width: 200px;
	height: 25px;
	background-color: #b00;
	float: left;
}

nav#mynav {
	width: 800px;
	height: 25px;
	background-color: #d00;
	float: left;
}

div#leftpane {
	float: left;
	width: 200px;
	height: 600px;
}

aside#rssfeeds {
	width: 200px;
	height: 375px;
	background-color: #ddd;
	float: left;
}

nav#navsubjects {
	width: 200px;
	height: 25px;
	background-color: #b00;
	float: left;
}

aside#subjects {
	float: left;
	width: 200px;
	height: 375px;
	background-color: #ddd;
}

section#mainsection {
	width: 800px;
	height: 775px;
	background-color: #eee;
	float: left;
}

input {
	margin: 5px 0 5px 10px;
}

p {
	margin: 5px 5px 5px 10px;
}
