<!DOCTYPE html>
<html lang='en' xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Acme</title>
	<link href="resources/css/main.css" type="text/css" rel="stylesheet">
	<link href="resources/css/backgammon.css" type="text/css" rel="stylesheet">
</head>
<body>
<h1 class='shadowfont'>Backgammon</h1>

<div id='board' th:attr="data-sessionId=${sessionId}">
		<div th:each="col:${#numbers.sequence(0, 16)}" th:remove="tag"> <!-- Inclusive -->
			<div th:class='${"col " + ((col <= 1 || col == 8 || col >= 15) ? "bar" : (col%2 == 1 ? "light" : "dark"))}'
				 th:id='${"col_" + col}' th:text='${""}' 
				 th:attr="data-col=${col}">
			</div>
		</div>
</div>
<div class='clear'></div>

<div>
	<button class='myButton'>Prev</button>
	<button class='myButton'>Current</button>
	<button class='myButton'>Next</button>
	<button class='myButton'>Revert Move</button>
</div>
<script type="text/javascript" src="https://cdn.jsdelivr.net/sockjs/1/sockjs.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="resources/js/backgammon.js"></script>
</body>
</html>