<!DOCTYPE html>
<html lang='en' xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Acme</title>
	<link href="resources/css/crossword.css" type="text/css" rel="stylesheet">
</head>
<body>
<div id='main-crossword'>
	<header>
		<div class='shadowfont'>Puzzle Theme: Moby-Dick</div>
		<div id='moby-dick-image-header'><img id='moby-dick-image' src='resources/images/moby-dick.jpg' alt='moby-dick.jpg'></div>
	</header>
	<div id='crosswordGrid' th:attr="data-numcols=${crosswordGrid.getNumCols()}, data-numrows=${crosswordGrid.getNumRows()}, data-sessionId=${sessionId}">
		<block th:each="row:${#numbers.sequence(0, crosswordGrid.getNumRows()-1)}"> <!-- Inclusive -->
			<block th:each="col:${#numbers.sequence(0, crosswordGrid.getNumCols()-1)}">
				<div class='numberAndLetter'
					th:id="${'numberAndLetter_' + col + '_' + row}" 
					th:attr="data-col=${col}, data-row=${row}">
					<div th:class='${(crosswordCells[col][row].isBlock() ? "cellNumberBlock" : "cellNumber")}'
						 th:id="${'cellNumber_' + col + '_' + row}" 
						 th:attr="data-col=${col}, data-row=${row}"
						 th:text='${(crosswordCells[col][row].getClueNumber() == 0 ? "" : crosswordCells[col][row].getClueNumber()) }'>
					</div>
					<div th:class='${(crosswordCells[col][row].isBlock() ? "cellLetterBlock" : "cellLetter")}'
						 th:id="${'cellLetter_' + col + '_' + row}" 
						 th:attr="data-col=${col}, data-row=${row}"
						 th:text='${crosswordCells[col][row].getUserLetter()}'>
					</div>
				</div>
			</block>
			<br>
		</block>
		<div id='myButtons'>
			<button class='myButton' id='btnShowErrors'>Show Any Errors</button>
			<button class='myButton' id='btnSolveLetter'>Solve Current Letter</button>
		</div>
	</div>
	<div class='acrossOrDownTextLiteral'>Across</div>
	<div class='clues'>
		<block th:each="clue:${crosswordGrid.getAcrossClues()}">
			<div th:text="${clue}"></div>
		<block>
	</div>
	<div class='acrossOrDownTextLiteral'>Down</div>
	<div class='clues'>
		<block th:each="clue:${crosswordGrid.getDownClues()}">
			<div th:text="${clue}"></div>
		<block>
	</div>
	<div class="clear"></div>
	<footer><a href="home">Home</a></footer>	
</div>
<script type="text/javascript" src="https://cdn.jsdelivr.net/sockjs/1/sockjs.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="resources/js/crossword.js"></script>
</body>
</html>
