<!DOCTYPE html>
<html lang='en' xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Acme</title>
	<link href="resources/css/main.css" type="text/css" rel="stylesheet">
</head>
<body>
<h1 class='shadowfont'>ACME</h1>
<div class="golink"><a href="minesweeper?newGame=y">Minesweeper</a></div>
<div class="golink"><a href="dailydiet">Daily Diet</a></div>
<div class="golink"><a href="mazegen">Maze Generator</a></div>
<div class="golink"><a href="earthquakes">Recent Earthquakes</a></div>
<div class="golink"><a href="primegen">Prime Number Generator</a></div>
<div class="golink"><a href="crossword">Crossword Puzzle</a></div>
<!--
<div class="golink"><a href="soap">Soap Message Transfer</a></div>
<div class="golink"><a href="blockchain">Blockchain Currency</a></div>
<div class="golink"><a href="swift">Swift Wire Transfer</a></div>
<div class="golink"><a href="golfsim">Golf Sim</a></div>
<div class="golink"><a href="secureim">Secure IM</a></div>
<div class="golink"><a href="sslprobe">SSL Site Info</a></div>
<div class="golink"><a href="elevatordash">Elevator Dash</a></div>
<div class="golink"><a href="battleboat">Battleboat</a></div>
<div class="golink"><a href="backgammon">Backgammon</a></div>
<div class="golink"><a href="battle1942">Battle 1942</a></div>
-->

<script type="text/javascript" src="https://cdn.jsdelivr.net/sockjs/1/sockjs.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="resources/js/main.js"></script>
</body>
</html>
